In [63]:
import math
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [47]:
df=pd.read_excel('spam.xlsx')

In [49]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis='columns',inplace=True)

In [51]:
iv=df.drop(['v1'],axis='columns')

In [53]:
dv=df.drop(['v2'],axis='columns')

In [55]:
dv=pd.get_dummies(dv.v1,dtype=int)

In [57]:
dv.drop(['ham'],axis='columns',inplace=True)

In [59]:
iv.head()

                                                  v2
0  Go until jurong point, crazy.. Available only ...
1                      Ok lar... Joking wif u oni...
2  Free entry in 2 a wkly comp to win FA Cup fina...
3  U dun say so early hor... U c already then say...
4  Nah I don't think he goes to usf, he lives aro...

In [61]:
dv.head()

   spam
0     0
1     0
2     1
3     0
4     0

In [69]:
iv.columns[iv.isna().any()]

Index([], dtype='object')

In [71]:
dv.columns[dv.isna().any()]

Index([], dtype='object')

In [97]:
df['v2'] = df['v2'].astype(str)

tfidf = TfidfVectorizer(stop_words='english', max_features=3000)
iv_tfidf = tfidf.fit_transform(df['v2']) 

iv_tfidf_dense = iv_tfidf.toarray()
print(iv_tfidf_dense[:5])

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]